@using SchoolWeb.Models
@model ClassPO

@{
    ViewBag.Title = "CreateClass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateClass</h2>

@using (Html.BeginForm("CreateClass", "Class", FormMethod.Post))
{

    @Html.HiddenFor(model => Model.ClassID)

    @Html.LabelFor(model => Model.Grade)<text>(Required) <b>:</b></text>
    <div class="form-group">
        @Html.TextBoxFor(model => Model.Grade, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.Grade, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => Model.Group)<text>(Required) <b>:</b></text>
    <div class="form-group">
        @Html.TextBoxFor(model => Model.Group, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.Group, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => Model.Name)<text>(Required) <b>:</b></text>
    <div class="form-group">
        @Html.TextBoxFor(model => Model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.Name, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => Model.PhotoPath)<text>(Required) <b>:</b></text>
    <div class="form-group">
        @Html.TextBoxFor(model => Model.PhotoPath, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.PhotoPath, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => Model.ClassTeacher)<text>(Required) <b>:</b></text>
    <div class="form-group">
        @Html.TextBoxFor(model => Model.ClassTeacher, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.ClassTeacher, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => Model.ClassPresident)<text>(Required) <b>:</b></text>
    <div class="form-group">
        @Html.TextBoxFor(model => Model.ClassPresident, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.ClassPresident, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => Model.About)<text>(Required) <b>:</b></text>
    <div class="form-group">
        @Html.TextBoxFor(model => Model.About, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => Model.About, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Create" class="btn btn-primary glyphicon-apple" />
}

