<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SchoolWeb", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Schedule", "Calendar", "Session")</li>

                    @if (Session["Username"] != null && ((int)Session["RoleID"] <= 3))
                    {
                        <li>@Html.ActionLink("Users", "ViewAllUsers", "User")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Staff", "ViewAllUsers", "User")</li>
                    }

                    @if (Session["Username"] != null)
                    {
                        <li>@Html.ActionLink("Classes", "ViewAllClasses", "Class")</li>
                        <li>@Html.ActionLink("Subjects", "ViewAllSubjects", "Subject")</li>
                    }
                </ul>
                <ul class="nav navbar navbar-right">
                    @if (Session["Username"] != null)
                    {
                        <li>@Html.ActionLink(Session["Username"].ToString(), "ViewProfile", "User", new { userID = Session["UserID"] }, new { @class = "" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "User")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
